<!DOCTYPE html>
<html>
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="sidebar.css" rel="stylesheet" type = "text/css">
        <link href="header.css" rel="stylesheet" type = "text/css">
        <link href = "changepassword.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>

<body class="body">
    <% include partials/header.ejs %>
    <div id="viewscreen">
            <% include partials/sidebar.ejs %>

            <div id="rightview">

                <div class="containerdiv div-min-width">
                    <div class = "parentdiv">
                        <br>
                    <h1>Change Password</h1>
                        <div class = "formdiv">

                            <div id = "oldp" class="pass">
                                <label>Old Password:</label>
                                &nbsp;&nbsp;
                                <br>
                                <input type = "password" class="form-input" id="oldpassword">
                                <br>
                            </div>

                            <div id="newp" class="pass">
                                <label>New Password:</label>
                                &nbsp;&nbsp;
                                <br>
                                <input type = "password" class="form-input" id="newpassword">
                                <br>

                            </div>
                            <div id="subp" class="pass">
                                <input type = "submit" value="Submit" class="btn-success" id="submitbtn">
                            </div>

                        </div>

                    </div>
                </div>

            </div>

    </div>

</body>
    <script src="openpanel.js">
    </script>
    <script src="changepassword.js">
    </script>
</html>
