.desc
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding : 10px 15px 10px 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.value
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding : 10px 15px 10px 15px;
}
.div{
    box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
    margin:auto;
}
